:root {
  --black: rgb(246, 242, 242);
  --light-red: white;
  --light-blue: rgb(195, 234, 22);
  --light-orange: rgb(241, 101, 8);
  --lighter-red: #f8e2dc;
  --brown-red: rgb(0, 0, 0);
  --font-small: 20px;
  --font-med: 25px;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 221, 3);
  background: rgb(49, 49, 46);
}

::selection {
  color: rgb(255, 240, 74);
  background: rgb(49, 49, 46);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.retro {
  font-family: "Cinzel Decorative", cursive;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma;
  background: #002233;
  background-size: cover;
  font-size: 18px;
  color: var(--black);
  overflow-x: hidden;
  width: 100%;
}

@media screen and (min-width: 820px) {
  .cursor {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cursor::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid rgb(255, 160, 160);
    border-radius: 50%;
    position: absolute;
    z-index: 20;
  }
}

.txt-highlights {
  color: var(--lighter-red);
}

/* Tools */
.give-padding {
  padding: 25px 25px;
  box-sizing: border-box;
}

/* Tools */

/* LINKS */
a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  zoom: 110%;
  font-weight: bold;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--light-orange);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* LINKS */

/* Navbar */
#nav-menu {
  background-color: #002233;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
  height: 50px;
  /* height: auto; */

  padding: 10px 15px;
}

#logo-nav {
  flex-grow: 1;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-nav h1 {
  font-weight: 700;
  color: var(--light-red);
  font-size: 30px;
}

.contact-button.resume-button {
  padding: 7px;
  font-size: 20px;
  margin: 0;
  align-self: flex-end;
  border: none;
  background-color: rgb(35, 35, 54);
}

.ham-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham {
  font-size: 25px;
  margin: 0 0 0 10px;
  width: 30px;
  text-align: center;
  transition: all 0.5s;
}

ham i {
  font-size: 25px;
}

#nav-menu ul {
  font-size: 20px;
  text-align: center;
  transition: all 0.3s;
  /* margin-top: 30px; */
}

.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.display-none {
  display: none;
}

#nav-menu li {
  margin: 30px 10px;
  list-style: none;
  cursor: pointer;
  transition: all 0.4s;
  padding: 7px;
}

#nav-menu li:hover {
  color: var(--light-red);
}

.first-btn {
  display: inline-block;
}

@media screen and (min-width: 800px) {
  .first-btn {
    display: none;
  }

  .second-btn {
    display: inline-block;
  }

  .resume-button.second-btn {
    margin: auto 0;
  }

  #nav-menu {
    display: flex;
  }

  #nav-menu li {
    margin: 0 10px;
  }

  #logo-nav {
    flex-grow: 1;
    text-align: left;
    margin-bottom: 0;
  }

  #nav-menu ul {
    display: flex;
    margin-bottom: 0;
  }

  .hide {
    height: auto;
    opacity: 1;
  }

  .ham {
    display: none;
  }
}

/* Navbar */

.nav-resume {
  display: flex;
  justify-content: center;
}

.sauce {
  color: var(--light-red);
}



.hero {
  padding-top: 30px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-img-cont {
  display: flex;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  margin-left: 50px;
}

/* particle-container */
.contain {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.txt-light-red {
  color: var(--light-red);
}

.twent {
  font-size: clamp(14px, 5vw, 26px);
  padding-left: 5px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

.circle {
  /* margin-left: 40rem; */
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.outer-circle {
  width: 365px;
  height: 365px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 4px rgb(77, 77, 77, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.inner-circle {
  width: 350px;
  height: 350px;
  border: 4px solid rgb(48, 33, 33);
  box-shadow: 0px 0px 3px 2px rgb(48, 33, 33) inset;
  z-index: 1;
  overflow: hidden;
  /* margin-right: 20px; */
}

.inner-circle img {
  width: 410px;
  margin-left: -20px;
  background-size: cover;
}

.sq {
  position: absolute;
  width: 50%;
  height: 120%;
  max-height: 0;
  background: var(--light-blue);
}

.outer-circle:hover .sq {
  max-height: 130%;
}

/* Circle-1 Animation Settings */
.circle-1 .sq-1 {
  top: -5%;
  right: 0;
  transition: max-height 0.4s linear 0.3s;
}

.circle-1:hover .sq-1 {
  transition: max-height 0.4s linear 0s;
}

.circle-1 .sq-2 {
  bottom: -5%;
  left: 0;
  transition: max-height 0.4s linear 0s;
}

.circle-1:hover .sq-2 {
  transition: max-height 0.4s ease-out 0.3s;
}

/* End of Circle-1 Animation Settings */

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.bio {
  font-size: clamp(20px, 6vw, 40px);
  font-weight: 500;
  line-height: clamp(40px, 7vw, 80px);
  margin: 10px 0;
}

.info {
  font-weight: 400;
  font-size: 18px;
  max-width: 580px;
  padding-left: 5px;
  letter-spacing: 2px;
  color: var(--lighter-red);
}

.name {
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px black;
  font-family: 'Yellowtail', cursive;
}

.translate {
  font-size: 20px;
  cursor: pointer;
}

.button-container {
  padding-top: 40px;
}

@media screen and (min-width: 700px) {
  .info {
    font-size: 20px;
  }

  .give-padding {
    padding: 20px 150px;
  }
}

@media screen and (max-width: 988px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .inner-circle circle {
    width: 200px;
    height: 200px;
  }



  #github-stat {
    flex-direction: column;
  }
}



/* Glassmorphic Link */
.glassmorphic-link {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  /* Transparent white background */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Transparent white border */
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  /* Text color */
  font-size: 18px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the background */
  transition: background-color 0.3s ease;
  /* Transition only background-color */
  letter-spacing: 1px;

}

.glassmorphic-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.about-section {
  margin-top: -80px;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 20px;
}

.about-Img {
  width: 250px;
  margin-top: -70px;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin: 40px 0;
}

.grid3x2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.profile-picture {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  overflow: hidden;
}

#profile-pic {
  width: 100%;
  filter: grayscale(100%);
  /* object-fit:cover; */
  transition: all 0.3s;
}

#profile-pic:hover {
  width: 100%;
  filter: grayscale(10%);
}

.skills-section {
  /* margin-top: -200px; */
  padding-top: 90px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 20px 30px;
  padding: 0px;
  margin: 20px 0px 0px;
  font-size: var(--font-small);
  overflow: hidden;
  list-style: none;
}

.skills-card-name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.skills-list li {
  font-size: var(--font-small);
}

@media screen and (max-width: 790px) {
  .skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 20px 30px;
    padding: 0px;
    margin: 20px 0px 0px;
    font-size: var(--font-small);
    overflow: hidden;
    list-style: none;
  }
}



/* Contact */
#contact {
  min-height: 500px;
  padding-top: 50px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 500;
  color: #e2c5be;
  margin: 20px 0;
}

/* Contact */

/* footer */
.copyright {
  text-align: center;
  font-size: medium;
  margin: 20px 0;
}

#social-icons {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 30px;
}

#social-icons li {
  margin: 10px 0;
  transition: all 0.3s;
}

#social-icons li:hover {
  margin-bottom: 0;
  scale: 1;
}

#contact-email {
  display: none;
  position: fixed;
}

@media screen and (min-width: 550px) {
  #social-icons {
    margin: 30px;
  }
}

@media screen and (min-width: 800px) {
  #social-icons {
    bottom: 10px;
    position: fixed;
    display: block;
    margin: 40px;
  }

  #social-icons li:hover {
    margin-bottom: 20px;
    scale: 1.2;
  }

  #contact-email {
    display: block;
    position: fixed;
    bottom: 180px;
    right: -70px;
    transform: rotate(90deg);
  }

  #contact-email:hover {
    margin-bottom: 20px;
  }
}

/* styles.css */
.svg-background {
  background-image: url("data:image/svg+xml;charset=utf-8,SVG_CODE_HERE");
  /* Replace SVG_CODE_HERE with the actual SVG code */
  background-repeat: no-repeat;
  background-size: cover;
  /* Adjust as needed */
}

.github-section {
  min-height: 100vh;
  padding-top: 100px;
}

/* iPhone 12 */


/* TAB */
@media only screen and (max-width: 1024px) {

  .contact-continer {
    padding-bottom: 50px;
    height: fit-content;
  }

  .skills-section {
    margin-top: -20px;
    justify-content: flex-start;
  }



}

@media only screen and (min-width: 1024px) {
  .about-Img {
    width: 320px;
    margin-top: -70px;
  }

}

/* Laptop*/
@media only screen and (min-width: 1440px) {

  .contact-continer {
    padding-bottom: 50px;
    height: fit-content;
  }

}

@media only screen and (max-width: 900px) {
  .skills-section {
    margin-top: 0px;
    padding-top: 0px;

  }

  .contact-continer {
    padding-top: 100px;
    height: fit-content;
  }
}

/* Changed */

.card {
  margin-top: 30px;
  width: 230px;
  height: 48px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #002233;
  color: #fff;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  justify-content: center;
  /* font-size: 24px; */
  font-size: var(--font-med);
  transform: rotateY(0deg);

}

.card-back {
  background-color: #002233;
  color: #fff;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  justify-content: center;
  /* font-size: 24px; */
  font-size: var(--font-med);
  transform: rotateY(180deg);
}


/* New email button */
.button-container {
  position: relative;
}

.contact-button {
  color: var(--light-red);
  font-size: var(--font-med);
  padding: 9px;
  border: 1.7px solid var(--light-red);
  border-radius: 7px;
  margin: 20px 0 0 5px;
  position: relative;
  /* Ensure the button has a relative position */
  z-index: 1;
  /* Ensure the button is above the moving image */
  transition: background-color 0.3s ease-in-out;
}

.contact-button2:hover {
  font-weight: normal;
}


/* Email-Book */
.book {
  position: relative;
  border-radius: 10px;
  width: 360px;
  height: 48px;
  background-color: whitesmoke;
  background-color: orange;
  color: black;
  border: 2px solid white;
  /* -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000; */
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  justify-content: flex-end;
  /* background-color: #002233; */
  /* color: #fff; */

}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  /* -webkit-box-shadow: 1px 1px 12px #000; */
  /* box-shadow: 1px 1px 12px #000; */
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #002233;
  color: #fff;

}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);


}

.cover-text {
  /* font-weight: bolder; */
  font-size: var(--font-med);
}

.book-text {
  font-size: 20px;
  font-weight: bolder;
  padding-right: 10px;
}